<!DOCTYPE html>
<html lang='ja'>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/application.css">
    </head>
    <body>
        <main>
            <form action='/questions' method='POST'>
                <textarea name='body'></textarea>
                <button type='submit'>質問する</button>
            </form>
            <ul>
                {% for q in questions %}
                <li>{{q.body}}</li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>