<!DOCTYPE html>
<html lang='ja'>
    <head>
        <title>Reing</title>
        <link rel="stylesheet" href="/static/css/application.css">
        <link rel="icon" href="/static/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}{% endblock head %}
    </head>
    <body>
        <header>
            {% block header %}
            <a href='/'>
                <img src='/static/image/logo.png' />
            </a>
            {% endblock header %}
        </header>
        <main>
            {% block main %}{% endblock main %}
        </main>
    </body>
</html>
