<!DOCTYPE html>
<html lang='ja'>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/application.css">
    </head>
    <body>
        <header>
            {% block header %}
            <a href='/'>
                <img src='/static/image/logo.png' />
            </a>
            {% endblock header %}
        </header>
        <main>
            {% block main %}{% endblock main %}
        </main>
    </body>
</html>