<div class='question-form'>
    <form action='/questions' method='POST'>
        <div>
            <textarea name='body'></textarea>
        </div>
        <div class='submit-button'>
            <button type='submit'>質問する</button>
        </div>
    </form>
    <script src='/static/js/disable_double_submit.js'></script>
</div>
